#Maindiv{

    width: 800px;
    height: 800px;
    border: 1px solid greenyellow ;


}

.white{

    background-color: white;

    width: 100px;
    height: 100px;
    float: left;
}

.black{

    background-color: black;

    width: 100px;
    height: 100px;
    float: left;
}
