body{
    background-image: url("ferrari-gtc4lusso.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
}




#Maindiv{

    width:800px;
    height:800px;
    border:1px solid red ;


}

.black{
    width:100px;
    height:100px;
    background-color: black;
    float:left;
    border-radius: 0%;
}

.white{
    width:100px;
    height:100px;
    background-color: white;
    float:left;
    border-radius: 0%;
}